*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}


body{
    font-family: 'Open Sans', sans-serif;
}

.link{
    list-style: none;
}

a{
    text-decoration: none;
    font-style: normal;
   }

img{
    display: block;
}

.button{
    cursor: pointer;
}