.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin:0 auto;
    outline: solid tomato;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}


body{
    font-family: 'Open Sans', sans-serif;
}

.link{
    list-style: none;
}

a{
    text-decoration: none;
    font-style: normal;
   }

img{
    display: block;
}

.button{
    cursor: pointer;
}



.search-form {
    // margin-left: auto;
    //  margin: auto;

    padding-top: 40px;
    padding-bottom: 40px;
    
    background-color: rgba(132, 161, 120, 1);
    border: 1px solid tomato;
}

.search-form_input{
    
    padding-right: 15px;
    padding-left: 15px;

    height: 50px;
    width: 400px;
    border-radius: 5px;
    border: transparent;
   
}

.submit-btn {
    display: block;
    margin: 0 auto;
}




.gallery{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  
    max-width: auto 0;
}


.info{
    
  display: flex;
  flex-direction: column;  
  border: 1px solid salmon; 
  width: 285px;
  
}


.info-list{
    display: flex;
    gap: 15px;
    align-content: center;
    
}

.info-capture{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.photo-img{
    display: block;
    height: 200px;
    
}

.image-capture{
    display: flex;
    display: inline-block;
    align-items: center;
}

.list-p{
    font-weight:bold;
    font-size:14px
}

.list-s{
    font-size:14px

}

.load-more {
    display: block;
    margin: 0 auto;
   
    width: 100px;
    height: 40px;

    background-color: rgba(132, 161, 120, 1);
    border-radius:5px;
    border: transparent;
    
    
}